.ContactData {
  width: 100%;
  border: 1px solid #eee;
  box-sizing: border-box;
  box-shadow: 0 5px 3px #ccc;
  padding: 10px;
  text-align: center;
  margin: 0 auto;
}

.ContactData input {
  padding: 10px;
  margin: 10px auto;
  display: block;
  width: 70%;
  font-size: 17px;
}
